* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: #141922;
  height: calc(100vh - 160px);
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow-y: auto;
  color: white;
}

header #log-in {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  background-color: #080b12;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

#log-in a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
  margin-right: 30px;
}

main #menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 230px;
  height: calc(100vh - 80px);
  background-color: #000000;
  position: absolute;
  top: 0%;
  z-index: 1;
  color: #ffffff;
}

main #covers {
  color: #ffffff;
  margin-left: 250px;
}

.menu-music {
  height: 35px;
  color: #6c6f74;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.menu-music ul {
  display: inline-block;
}

.menu-music ul li {
  display: inline-block;
  margin: 10px 5px;
  text-transform: uppercase;
}

.menu-music ul li:hover {
  border-bottom: 3px green solid;
}

/* Tipography */
h3 {
  color: #ffffff;
  font-size: 1.2em;
  margin-bottom: 20px;
}

p {
  color: #6c6f74;
  font-size: 1em;
}

footer #player {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}


/* Cover */
.top, .item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
}

.cover {
  margin: 10px;
  width: 200px;
}

.cover img {
  width: 200px;
}

.cover img:after {
  background-color: gray;
}

.cover p {
  color: #6c6f74;
  font-size: .8em;
  margin: 5px 0;
}

.cover .round-image {
  border-radius: 50%;
}

/* Player  */
.player-cover {
  display: flex;
  align-items: center;
  margin: 20px;
}

.player-cover img {
  width: 50px;
  margin: 10px;
}

.player-cover .title-music {
  margin-right: 30px;
}

.player-cover i {
  color: #6c6f74;
  padding: 10px;
}

.player-menu .top {
  display: flex;
  align-items: center;
}

.player-menu .top i {
  padding: 10px;
  font-size: 24px;
}

.player-menu .top i:hover {
  font-size: 26px;
}

.player-menu .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 500px;
  height: 5px;
  margin: 0 10px;
  background-color: #ffffff;
  border-radius: 20%;
}

.player-volume {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-volume i {
  font-size: 18px;
  padding: 10px;
}

.player-volume i:hover {
  font-size: 22px;
}

.line-volume {
  width: 100px;
  height: 5px;
  margin: 0 10px;
  background-color: #ffffff;
  border-radius: 20%;
}

/* Button */
.btn-border {
  border: 1px solid #ffffff;
  padding: 12px 38px;
  border-radius: 50px;
}

/* Media Query */
@media (max-width: 600px) {

}