* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: #141922;
  height: calc(100vh - 160px);
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

header #log-in {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  background-color: #080b12;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

#log-in a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
  margin-right: 30px;
}

main #menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 160px;
  height: calc(100vh - 80px);
  background-color: #000000;
  position: absolute;
  top: 0%;
  z-index: 1;
  color: #ffffff;
}

footer #player {
  display: flex;
  height: 80px;
  justify-content: space-between;
  background-color: #282828;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

/* Button */
.btn-border {
  border: 1px solid #ffffff;
  padding: 12px 38px;
  border-radius: 50px;
}